.why-h{
    border-radius: 30px;
    width: 40%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 20px;
   color: white;
   background-color: black;
}
.left{
    margin-left: 40px;
}
.right{
    margin-left: 860px;
}
h1{
    text-align: center;
    margin-bottom: 80px;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(245, 249, 0,0.6);
}
.D-img{
    width: 220px;
    height: 220px;
    }
.both{
   position: relative;
  margin-bottom: 80px;
  padding: 30px;
  
}
.img-right{
    position: absolute;
    right: 610px;
    top: 0px;
}
.card{
    display: flex;
    flex-direction: column;
    width: 60%;
    border-radius: 30px;
    background-color: black;
    color: white;
    height: 300px;
    padding: 20px;
   align-items: center;
    
}
.f-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.what-f{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h2{
    font-weight: 600;
    color:rgb(255, 243, 25);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
